*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.hero{
    background-color: #015c92;
    
}

nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 150px;
    height:100px;
}
nav ul{
    display: flex;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #bce6ff ;
    font-weight: 400;
    font-size: 20px;
    }
    nav ul li a:hover {
        color: orangered;
    }


body{
    background-color:#bce6ff;
    color:#015c92;

}



.box{
    margin-top: 25px;
    padding: 20px;
    border: 10px solid #2d82b5;
    border-radius: 10px;
    background-color: #88cdf6;
    text-align: center;
   width: 320px;
   height: 500px;
    
    
    }

hr{
    border: none;
    height: 2px;
    background-color: #015c92;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #015c92;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
   
}
.box a:hover {
background-color: #00304d;
color: white;
}

footer{
    background-color:#015c92;
    color:#bce6ff;
    width: 100vw;
}
